---
import Layout from "../layouts/Layout.astro";
import HeroSection from "@/components/hero/HeroSection.astro";
import KeyNumbers from "@/components/hero/KeyNumbers";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("site.title")}>
  <main>
    <HeroSection />
    <KeyNumbers client:idle lang={lang} />
  </main>
</Layout>
